html{
    margin:0px;
}
body{
    margin-top:-50px;
    margin-left:-10px;
    padding: 0px;
}

.nav h3{
    margin-left: 50px;
}
.nav
{
    position: absolute;
    margin:0px;
    background-color:#f1f1f1 ;
    height:700px;
    width: 300px;
    
}
.nav a{
    color: #333;
    text-decoration: none;
    
}
.nav li{
    margin:10px;
    display: grid;
    padding:20px;
    border-bottom:1px solid black ;
    font-size: 17px;
    

}
.logo img{
    width:120px;
    margin-left:50px;
}
.Education-form-info p{
    margin-top: 92px;
    text-align: left;
    margin-left: 332px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border:1px solid #333;
    min-width: 300px;
    max-width: 500px;
    padding: 10px;
    background-color:rgb(29, 127, 151);

}
.Education-form-info
{
    position: absolute;
    top:-50px;
    left:320px;


}
table , th,tr ,td
{
   padding:10px;
   margin:10px;
   text-align:center;
  
   

}
th{
   background-color: cadetblue;
   text-transform: capitalize;
}

button{
   padding:10px;
   margin-right:20px;
   margin-left:20px;
   margin-bottom:10px;
}
.wrapper
{
    border: 1px;
    position: relative;
    top: 11px;
    margin: 20px;
    height: 700px;
    width: 1050px;
    /* border: 2px black solid; */
    left: 250px;
    margin-left: 200px;
   
    
}

.wrapper .cards
{

    border:2px black solid;
    position: relative;
    left:-400px;
    top:-120px;
    width: 350px;
    height: 380px;
    margin-left:10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;

}


.card-img{
    position: absolute;
    border:2px black solid;
    margin-left:60px;
    margin-top: 15px;
    margin-right: 0px;
    width: 230px;
    height: 250px;
    background-size: cover;
    background-attachment: fixed;


}
.card-img img{
    width: 230px;
    height: 250px;
}
 .card-title{
    position: relative;;
    top: 270px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 550;
}
.card-title .btn1{
    padding:5px;
    margin-top:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.column {
    float: left;
    width: 25%;
    height: 450px;
    padding: 40px;
    margin-right: 100px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
 .btn :hover{
    background-color:#3CA0E7;
 }
 
 footer
 {  
      margin-top:auto ;
     justify-content: end;
     align-content:end;
     display: grid;
    position: relative;
    bottom: -500px;
    width: 100%;
    height: auto;
    padding: 10px;
    background: #3ca0e7;
   
    
 }
 
 footer .container
 {
     width: 100%;
      display:grid; 
     grid-template-columns: 2fr 2fr 2fr 2fr;
     grid-gap:20px;
     justify-content: end;
    align-content:end;
    padding: 1px; 
 }
 
 footer ul li{
     border:none;
 }
 footer .sec-aboutus{
    width: 371px;
     text-transform:capitalize;
 }
 footer .sec-aboutus h2{
     padding-left:50px;
     margin-bottom:5px;
 }
 footer .sec-aboutus p{
     text-align: center;
     padding-right:30px;
     padding-bottom:15px;
 }
 
 footer .container .sec-quicklinks{
     border-right:2px solid black;
     /* width: 200px; */
 }
 footer .container .sec-quicklinks li{
     display: grid;
     margin-top: 5px;
     text-align: left;
         padding: 5px;
 }
 footer .container .sec-quicklinks h2{
     margin-top:5px;
 
 }
 footer .container .sec h2
 {
     position:relative;
     color:#333;
     font-weight: 600;
     margin-bottom: 15px;
 
 }
 
 footer .container .sec p
 {
     color: #333;
     text-transform: uppercase;
     /* margin:10px; */
 
 }
 
 footer .container .sci
 {
   margin-top:20px;
   display: grid;
   grid-template-columns: repeat(4,50px);
 }
 
 footer .container .sci li
 {
     list-style: none;
     padding-left: 85px;
     size: 10px;
 }
 
 footer .container .sci li a
 {
     display: grid;
     width:360px;
     height:36px;
     
     display:inline;
     align-content: center;
     justify-content: center;
     text-decoration: none;
 }
 
 footer .container .sci li a i
 {
     color:#333;
     font-size:20px;
 
 
 }
 footer .container .quicklinks 
 {
     position: relative;
 
 }
 footer .container .quicklinks ul li
 {
     list-style: none;
     padding:30px;
 
 }
 footer .container .quicklinks ul li a
 {
     color:black;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 
 }
 
 footer .container .contact .info
 {
     position: relative;
 
 }
 
 footer .container .contact .info li
 {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px; 
 }
 
 footer .container .contact .info  li span
 {
    color:#555;
    font-size:20 px;
 
 }
 
 footer .container .contact .info  li a
 {
    color:#555;
    text-decoration: none;
    
 }
 
 footer .copyrightText
 {
     margin-top:10px;
     width:100%;
     background: #96daff;
     padding: 2px 1px 3px;
     text-align:center;
     color:#555;
     border: 2px solid rgba(0, 0, 0, 0.15);
 }
 footer .copyrightText p
 {
    margin:0px;
    padding:0px;
 }