*{
    margin:0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
.logo
{
    position: absolute;
    /* padding-left:30px; */


}
.logo img{
    width:158px;
    background-size: cover;
    background-attachment: fixed;
    /* border:1px solid beige; */
}
.nav{
    height: 80px;
    text-align: right; 
    background-color    :#9EDDFF;
    /* padding-top: 25px; */
    padding:30px;
    padding: 40px;
    /* background: linear-gradient(344deg, rgba(0,233,255,1) 0%, rgba(201,215,216,1) 0%, rgba(93,226,241,1) 100%); */
    background-repeat: no-repeat ;
    background-attachment: fixed;
    /* border:0.5rem outset pink; */
    
}
.nav a{
    margin: 25px;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
}

 ul li{
    margin-top:20px ;
    list-style:none; 
    border-left:2px solid black;
    display:inline-block;
    padding :0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family:arvo;
 }

 li a{
    color:black;

 }
 li a:hover{
    color:black;

 }

 li :hover{
    cursor:pointer;
 }

 ul li ul{
    visibility: hidden;
     opacity: 0;
    position:absolute;
    padding-left: 0;
    left:0;
    display:none;
    background-color:#b9f1f6; 
 }
 ul li:hover>ul,
 ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 200px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
 }

 ul li ul li{
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
 }
 ul li ul li a:hover{
    padding-left: 10px;
    border-left: 2px solid black;
 }
 a {
    text-decoration: none;
    &:hover {
        color: #3CA0E7;
    }
}
ul li ul li a { transition: all 0.5s ease; }



.container1{
    padding:50px;
    margin:10px;
    background-color:#F1C27B;
    border:3px solid black;
    height: 450px;
    
}

.container1 h3{
    color:#333;
    font-weight: 700;
    letter-spacing: 1px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container1 p{
    position: absolute;
    bottom: 20px;
    left:450px;
    text-align: center;
    padding:20px;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
}
.container1 h3 p{
    position: relative; 
    font-size: 25px;
    left: -50px;
    text-align: left;
    text-transform:uppercase;
}
footer
{  
     margin-top:auto ;
    justify-content: end;
    align-content:end;
    display: grid;
   position: absolute;
   /* bottom: -1400px; */
   width: 100%;
   height: auto;
   padding: 10px;
   background: #3ca0e7;
  
   
}

footer .container
{
    width: 100%;
     display:grid; 
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap:20px;
    justify-content: end;
   align-content:end;
   padding: 1px; 
}

footer ul li{
    border:none;
}
footer .sec-aboutus{
    width:350px;
    text-transform:capitalize;
}
footer .sec-aboutus h2{
    padding-left:50px;
    margin-bottom:5px;
}
footer .sec-aboutus p{
    text-align: center;
    padding-right:30px;
    padding-bottom:15px;
}

footer .container .sec-quicklinks{
    border-right:2px solid black;
    /* width: 200px; */
}
footer .container .sec-quicklinks li{
    display: grid;
    margin-top: 5px;
    text-align: left;
        padding: 5px;
}
footer .container .sec-quicklinks h2{
    margin-top:5px;

}
footer .container .sec h2
{
    position:relative;
    color:#333;
    font-weight: 600;
    margin-bottom: 15px;

}

footer .container .sec p
{
    color: #333;
    text-transform: uppercase;
    /* margin:10px; */

}

footer .container .sci
{
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(4,50px);
}

footer .container .sci li
{
    list-style: none;
    padding-left: 85px;
    size: 10px;
}

footer .container .sci li a
{
    display: grid;
    width:360px;
    height:36px;
    
    display:inline;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .container .sci li a i
{
    color:#333;
    font-size:20px;


}
footer .container .quicklinks 
{
    position: relative;

}
footer .container .quicklinks ul li
{
    list-style: none;
    padding:30px;

}
footer .container .quicklinks ul li a
{
    color:black;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;

}

footer .container .contact .info
{
    position: relative;

}

footer .container .contact .info li
{
   display: grid;
   grid-template-columns: 30px 1fr;
   margin-bottom: 16px; 
}

footer .container .contact .info  li span
{
   color:#555;
   font-size:20 px;

}

footer .container .contact .info  li a
{
   color:#555;
   text-decoration: none;
   
}

footer .copyrightText
{
    margin-top:10px;
    width:100%;
    background: #96daff;
    padding: 2px 1px 3px;
    text-align:center;
    color:#555;
    border: 2px solid rgba(0, 0, 0, 0.15);
}
